.info {
  background: #93c991;
}

.info h2 {
  word-spacing: 0.6rem
}

.info a {
  transition: all 1s ease-in-out;
  text-decoration: none!important;
}

.info a:hover {
  color: #242424;

}

body {
  /*  min-height: 100vh;*/
  font-family: 'Mr Dafoe', cursive;
  color: #C9C1AC;
  background: url('../img/body-bcg.jpeg') no-repeat center/cover fixed;
}

.primary-color {
  color: #D3325F;
}

/*======== header ========*/
#header {
  min-height: calc(100vh - 94px);
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
          url('../img/banner-bcg.jpeg') no-repeat center/cover fixed;
  position: relative;
}

.height-90 {
  min-height: calc(100vh - 94px);
}

.banner h1 {
  border-top: 6px dotted #C9C1AC;
  border-bottom: 6px dotted #C9C1AC;
  animation: fromLeft;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.sushi-btn {
  animation: fromRight;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.main-btn {
  color: #d3325f;
  font-size: 2rem;
  border: 2px solid #d3325f;
  transition: all 1s ease-in-out;
}

.main-btn:hover {
  color: #242424;
  border: 2px solid #C9C1AC;
  background: #C9C1AC;
}

.header-link {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background: #C9C1AC;
  border-radius: 10px;
  transition: all 2s ease;
  animation: fromBottom;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.header-link:hover {
  color: #242424;
}

@keyframes fromBottom {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* ############ Menu Items ############### */
.item-container {
  /* for link */
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  transition: all 2s ease;
}

.item-img {
  transition: all 2s ease;
}

.item-container:hover .item-img {
  transform: scale(1.2);
  opacity: .5;
}

.item-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d3325f;
  border-top: 3px solid #d3325f;
  border-bottom: 3px solid #d3325f;
  transition: all 2s ease;
  opacity: 0;
}

.item-container:hover .item-link {
  opacity: 1;
}

.item-link:hover {
  border: 3px solid #c9c1ac;
  background: #c9c1ac;
  color: #242424;
}

.item-container:hover {
  outline: 10px solid #d3325f;
  outline-offset: .8rem;
}